/* the styles for the elements */

* {
	margin: 0;
	padding: 0;
}

html {
	background-color: #ffffff;
}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 99%;
	max-width: 960px;
	border: 3px solid #931420;
	margin: 0px auto 0px auto;
	background-color: #fffded;
}

section {
	width: 65.62%;
	float: right;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}

aside {
	width: 26.87%;
	float: right;
	padding-left: 20px;
	padding-bottom: 20px;
}

.shadow {
	text-shadow: 2px 2px #800000;
}

/* the styles for the header */

header {
	width: 94%;
	border-bottom: 3px solid #931420;
	padding: 24px 3%;
	background: linear-gradient(30deg, #f6bb73 0%, white 35%, white 50%, white 65%, #f6bb73 100%)
}

header img {
	float: left;

}

header h2 {
	font-size: 170%;
	color: #800000;
}

header h3 {
	font-size: 130%;
	font-style: italic;
}

#nav_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: left;
	width: 20%;
}
#nav_menu ul li a {
    display: block;
    
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #800000;
    color: white;
    font-weight: bold;
}
#nav_menu a.current {
	color: yellow;
}
#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
	width: 100%;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

/* the styles for the section */
main {
	clear: left;
}

/*
main h1 {
	font-size: 150%;
	border-radius: 10px;
	border: 3px solid #931420;
	border-style: double;
	padding-top: .3em;
	padding-bottom: .3em;
	padding-left: 2em;
	box-shadow: 5px 5px 5px black;
}
*/

section h1 {
	font-size: 150%;
	padding-top: .5em;
	padding-bottom: .25em;
	margin-top: 0px;
	margin-bottom: 0px;
}

section h2 {
	font-size: 130%;
	color: #800000;
	padding-top: .5em;
	padding-bottom: .25em;
}

section p {
	padding-bottom: .5em;
}

section blockquote {
	font-style: italic;
	padding-left: 2em;
	padding-right: 2em;
}

section ul {
	padding-bottom: .25em;
	padding-left: 1.25em;
}

section li {
	padding-bottom: .35em;
}

section article {
	padding-top: .5em;
	padding-bottom: .5em;
	border-top: 2px solid #800000;
	border-bottom: 2px solid #800000;
}

article img {
	float: right;
	max-width: 150px 40%;
	margin-top: 1.25%;
	margin-left: 1.25%;
	margin-right: 1.25%;
	margin-bottom: 1.25%;
	border: 1px solid black;
}

article h2 {
	padding-top: 0px;
}

article h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

aside h2 {
	font-size: 130%;
	color: #800000;
	padding-top: .5em;
	padding-bottom: .25em;
}

aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

aside img {
	padding-bottom: 1em;
}

aside p {
	padding-bottom: .5em;
}

aside a:hover, a:active {
	font-style: italic;
}

/* the styles for the footer */

footer {
	border: 3px solid #931420;
	background-color: #931420;
	clear: both;
}

footer p {
	text-align: center;
	color: white;	
	padding-top: 1em;
	padding-bottom: 1em;
}

#mobile_menu {
	display: none;
}

@media only screen and (max-width: 959px) {

	section h1 {
		font-size: 135%;
	}

	section h2 {
		font-size: 120%;
	}

	aside h2 {
		font-size: 120%;
	}
}

@media only screen and (max-width: 767px) {

	#mobile_menu { 
		display: block; 
	}

	#nav_menu {
		display: none;
	}

	.slicknav_menu {
		background-color: #800000 !important;
	}

	header img {
		clear: left;
		align-content: center;
	}

	section {
		float: none;
		width: 90%
	}

	aside {
		float: none;
		padding-left: 10%;
		padding-right: 10%;
		width: 90%;
	}

	article img {
		max-width: 30%;
	}

	.asideDiv {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}


@media only screen and (max-width: 479px) {
	* {
		font-size: 90%;
	}
}


